<app-header></app-header>
  
<body>
  <div class="cards-grid">
    <div class="card">
      <h3>Estaciones</h3>
      <p>Visualiza y administra las estaciones disponibles.</p>
      <a href="/listar-estacion">Ver Estaciones</a>
    </div>
    <div class="card">
      <h3>Usuarios</h3>
      <p>Consulta y gestiona los usuarios registrados.</p>
      <a href="/usuarios">Ver Usuarios</a>
    </div>
    <div class="card">
      <h3>Actividades</h3>
      <p>Administra las actividades realizadas.</p>
      <a href="/listar-actividad">Ver Actividades</a>
    </div>
    <div class="card">
      <h3>Especies</h3>
      <p>Gestiona la información de las especies registradas.</p>
      <a href="/listar">Ver Especies</a>
    </div>
    <div class="card">
      <h3>Reinos</h3>
      <p>Gestiona la información de los Reinos registradas.</p>
      <a href="/listar-reino">Ver Especies</a>
    </div>

    <div class="card">
      <h3>Etapas</h3>
      <p>Gestiona la información de las Etapas registradas.</p>
      <a href="/listar-etapa">Ver Etapas</a>
    </div>
  </div>


</body>
<script
  type="module"
  src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"
></script>