<app-header></app-header>
  
<body>
  <div class="cards-grid">
    <div class="card">
      <h3>Estaciones</h3>
      <p>Visualiza y administra las estaciones disponibles.</p>
      <a href="/admin/estaciones">Ver Estaciones</a>
    </div>
    <div class="card">
      <h3>Usuarios</h3>
      <p>Consulta y gestiona los usuarios registrados.</p>
      <a href="/admin/usuarios">Ver Usuarios</a>
    </div>
    <div class="card">
      <h3>Actividades</h3>
      <p>Administra las actividades realizadas.</p>
      <a href="/admin/actividades">Ver Actividades</a>
    </div>
    <div class="card">
      <h3>Especies</h3>
      <p>Gestiona la información de las especies registradas.</p>
      <a href="/admin/especies">Ver Especies</a>
    </div>
  </div>
</body>