<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup Form</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="form-box login">
            <form (ngSubmit)="formLogin()">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" [(ngModel)]="loginData.username" name="username" placeholder="Usuario" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="password" [(ngModel)]="loginData.password" name="password" placeholder="Clave" required>
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                
                    
                <button type="submit" class="btn">Login</button>
                <div class="invitado">
                <a href="#">Continuar como invitado</a>
                </div>
               
            </form>
        </div>

        <div class="form-box register">
            <form (ngSubmit)="formSubmit()">
                <h1>Registrate</h1>
                <div class="input-box">
                    <input id="username" type="text" required [(ngModel)]="user.username" name="username" placeholder="Usuario" required >
                    <i class='bx bxs-user'></i>
                </div>

                <div class="input-box">
                    <input id="nombre" type="text" required [(ngModel)]="user.nombre" name="nombre" placeholder="nombre" required >
                    <i class='bx bxs-user'></i>
                </div>


                <div class="input-box">
                    <input id="email" type="email" required [(ngModel)]="user.email" name="email" placeholder="Correo" required>
                    <i class='bx bxs-envelope' ></i>
                </div>

                <div class="input-box">
                    <input id="password" type="password" required [(ngModel)]="user.password" name="password" placeholder="Clave" required>
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <button type="submit" class="btn">Register</button>
                <div class="invitado">
                <a href="#">Continuar como invitado</a>
            </div>
               
            </form>
        </div>

        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <h1>Bienvenido al Sendero ecologico</h1>
                <p>No tienes una cuenta?</p>
                <button class="btn register-btn" type ="submit">Registrate</button>
            </div>

            <div class="toggle-panel toggle-right">
                <h1>Bienvenido al Sendero ecologico</h1>
                <p>Ya tienes cuenta?</p>
                <button class="btn login-btn">Login</button>
            </div>
        </div>
    </div>

    
</body>
</html>