<app-header></app-header>
<body>
  <div class="container text-center mt20">
    <button class="btn" routerLink="/crear-etapa">
      Agregar Etapa
    </button>
  </div>

  <div class="cards-grid">
    <div class="card" *ngFor="let e of etapas">
      <div class="card-body">
        <h3 class="card-text">ID: {{ e.id }}</h3>
        <h4 class="card-title">Numero: {{ e.nombre }}</h4>
     
        <div class="card-actions">
          <button class="btn"  (click)="eliminarEtapa(e.id)">Eliminar</button>
          <button [routerLink]="'/editar-etapa/' + e.id" mat-flat-button color="primary" class="ml20">Actualizar</button>
        </div>
      </div>
    </div>
  </div>


</body>
