<header class="header">
    <div class="logo">
      <img src="logo.ico" alt="Logo" />
    </div>
    <ul class="nav-titulo" >
        <li><a >Sendero Ecologico</a></li>
    </ul>
    <!-- Lista de navegación; se muestra u oculta según isMenuOpen -->
    <ul class="nav-links" [class.active]="isMenuOpen">
      <li><a routerLink="/services" (click)="toggleMenu()">Estaciones</a></li>
      <li><a routerLink="/services" (click)="toggleMenu()">Mapa</a></li>
      <li><a routerLink="/services" (click)="toggleMenu()">Actividades</a></li>
      <li><a *ngIf="isLoggedIn && user">
        {{ user.username }}
      </a></li>
      <li> <a *ngIf="!isLoggedIn" routerLink="" class="nav-link">
        Iniciar sesión
      </a></li>
      <li><a *ngIf="isLoggedIn" (click)="logout()" class="nav-link">
        Cerrar sesión
      </a></li>
    </ul>
    <!-- Overlay para cerrar el menú al hacer clic fuera -->
    <div class="overlay" [class.active]="isMenuOpen" (click)="toggleMenu()"></div>
    <!-- Botón de menú hamburguesa -->
    <div class="menu-toggle" [class.active]="isMenuOpen" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </header>
  
  <body>

    <div class="container2">
        <h1>Bienvenido al Sendero Ecológico</h1>
        <p>Explora la naturaleza y disfruta de nuestras actividades al aire libre.</p>
        <button (click)="toggleMenu()">Toggle Menu</button>
    </div>
    <div class="map-container">
        <h2>Mapa del Sendero</h2>
        <img src="mapa.jpg" alt="Mapa del Sendero" />
        <p>Descubre las estaciones y actividades disponibles.</p>
    </div>
  </body>
