<app-header></app-header>
<body>
<div class="card update-card">
    <h1>Guardar reino</h1>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form *ngIf="reino" (ngSubmit)="actualizarReino()" enctype="multipart/form-data">
          
        
          
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input id="nombre" [(ngModel)]="reino.nombre" type="text" name="nombre" placeholder="Digite el nombre" required class="input-field">
          </div>
                
          <div class="text-center">
            <button type="submit" class="btn">Guardar</button>
          </div>
      
        </form>
      </div>
    </div>
  </div>
</body>
  <script
    type="module"
    src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"
  ></script>
